@model InternetMarketWEB.Models.Phones

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Phones</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Firm)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Firm)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Processor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Processor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RAM)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RAM)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Battery)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Battery)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
