@model InternetMarketWEB.Models.DocForPain

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DocForPain</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Organization)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Organization)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contragent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contragent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataLoad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataLoad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataLoad1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataLoad1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dataload2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dataload2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dataload3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dataload3)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
